*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fonte: 'Poppins', sans-serif;
    --preto: #000;
    --verde-escuro: #192220;
    --verde-base: #283532;
    --verde-claro: #4b615b;
    --cinza: #c6c6c6;
    --creme: #faebd7;
}

ul, ol, li{
    list-style: none;
}

button{
    background-color: inherit;
    box-shadow: none;
    border: none;
    cursor: pointer;
    padding-inline: 0;
    padding-block: 0;
    color: inherit;
    font-size: 1.2rem;
}

input, input:focus{
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
    background: transparent;
    text-align: center;
} 

input::placeholder{
    color: inherit;
    font-family: inherit;
    text-align: center;
}

*::-webkit-scrollbar{
    display: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--fonte);
    background-image: url(../img/woods.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-direction: column;
    backdrop-filter: brightness(110%);
}

body::after{
    content: '';
    display: block;
    position: fixed;
    inset: 0;
    pointer-events: none;
    background-color: rgba(40, 53, 50, 0.5);
    z-index: -1;
}

header, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5vh;
    color: var(--cinza);
    position: relative;
    width: 100%;
}

header{
    font-size: 1.2rem;
    padding: 5vh;
    text-shadow: 0px 0px 15px var(--verde-base);
}

.chuva{
    position: fixed;
    inset: 0;
    pointer-events: none;
    filter: grayscale(1.5);
    background-size: auto;
    z-index: -1;
}

main{
    display: grid;
    grid-template-areas:
    "t1 t2"
    "t3 t3";
    align-content: center;
    justify-content: center;
    position: relative;
    gap: 32px;
    width: 100%;
    height: 100%;
}
    
main table{
    position: relative;
    border-radius: 12px;
    border: 2px solid var(--preto);
    background-color: var(--cinza);
    height: fit-content;
    place-self: end start;
}

main table:nth-child(1){
    grid-area: t1;
    place-self: end end;
}

main table:nth-child(2){
    grid-area: t2;
}

main table:nth-child(3){
    grid-area: t3;
    width: 50%;
    place-self: center center;
}

main table:hover .botao{
    opacity: 1;
}

table, th, tr, td{
    border: 1px solid var(--preto);
    border-spacing: 0px;
}

table tr:first-child th:first-child{
    border-radius: 10px 10px 0 0;
}

table tr:nth-last-child(5) td:first-child{
    border-radius: 0 0 0 10px;
}

table tr:nth-last-child(5) td:last-child{
    border-radius: 0 0 10px 0;
}

th input, tr td input, tr td input::placeholder, span{
    font-weight: 600;
    font-size: 1.1rem;
}

tr th{
    padding: 8px;
}

td{
    padding: 4px 6px;
    text-align: center;
    width: fit-content;
}

td input{
    width: 12vw;
}

.botao{
    opacity: 0;
    position: absolute;
    border: none;
    left: calc(100% - 21px - 6px);
    top: calc(100% - 6px);
    transition: 50ms linear;
    background-color: var(--creme);
    padding: 0;
}

.remover{
    left: calc(100% - 21px - 21px - 6px);
}

.coluna{
    left: calc(100% - 6px);
    bottom: calc(100% - 21px - 10%);
    top: auto;
}

.remover.coluna{
    bottom: calc(100% - 21px - 10% - 21px);
}

.botao td{
    width: 14px;
    height: 14px;
    padding: 0;
    border: none;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.botao td button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.botao td button img{
    width: 150%;
    height: 150%;
    filter: drop-shadow(0 0 0.75rem var(--verde-claro));
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: absolute;
    right: 32px;
    bottom: 2.5vh;
}

.botoes button:not(button:last-child){
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: var(--verde-base);
    box-shadow: 0 0 10px var(--verde-escuro);
    border-radius: 50%;
    transition: ease-in-out; 
}

.botoes button{
    transition: 1s;
}

.botoes button:hover{
    transform: scale(1.02);
}

.botoes button:not(button:last-child):hover{
    animation: girar 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.botoes button:not(button:last-child) img{
    height: calc(5vh - 8px);
    filter: 
        drop-shadow(0 0 5px var(--verde-escuro));
}

.none{
    display: none !important;
}

.reset{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--verde-base);
    padding: 12px 16px;
    border-radius: 12px;
    box-shadow: 0 0 10px var(--verde-escuro);
    text-shadow: -0.5px 0.5px 0.5px var(--verde-escuro);
}

.reset:hover img{
    animation: rodar 1.2s linear forwards;
}

.reset img{
    width: 24px;
    height: 24px;
    transition: 1s ease-in-out;
    filter: 
        drop-shadow(0 0 2.5px var(--verde-escuro));
}

@keyframes girar {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(15deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes rodar {
    100% { transform: rotate(80deg); }
}